<h1>WarehouseProducts#index</h1>
<p>Find me in app/views/warehouse_products/index.html.erb</p>

<h1> Warehouse Product</h1>
<table>
  <tr>
    <th>product_quantity</th>
    
    <th colspan="3"></th>
  </tr>
 
  <% @warehouse_products.each do |warehouse| %>
    <tr>
      <td><%= warehouse.warehouse_id %></td>
      <td><%= warehouse.product_id %></td>
      <td><%= warehouse.product_quantity %></td>
       
    
    </tr>
  <% end %>
</table>
