<h1>Welcome To The Dashboard</h1> 
<style>body{
 background-image: url("https://media.istockphoto.com/id/1138429558/photo/rows-of-shelves.jpg?s=1024x1024&w=is&k=20&c=bMRYi_ay8T0EtezBRkK-JJ98LpgcC8o6ri2Ixo-1l4c=");
}
</style>
<%= link_to 'Dashboard',controller: 'dashboard' %>
