 <h1  class="text-danger"><center>Supplier Products</center></h1>
 <table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Product Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @supplier_products.each do |supplier_product| %>
      <tr>
       <td class="text-success"><%= supplier_product.product.name %></td>
       <td><%= supplier_product.product_quantity %></td>
       <td><%= button_to 'add_item', add_item_warehouse_product_path(supplier_product.product.id),class:"btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
  <td><%= link_to 'back', controller: 'dashboard' %></td>
</table>