 <h1>Supplier Products</h1>
<table>
  <thead>
    <tr>
      
      <th>Product</th>
      <th>Product Quantity</th>
    </tr>
  </thead>
  <tbody>
    
    <% @supplier_products.each do |supplier_product| %>
      <tr>

        <td><%= supplier_product.product.name %></td>
       <td><%= supplier_product.product_quantity %></td>

      </tr>
    <% end %>
  </tbody>
</table>