<h1  class="text-warning"><center>Shopkeeper Products</center></h1>
<table class="table">
  <thead>
    <tr>
      <th>Product Name</th>
       <th>Product Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @shopkeeper_products.each do |shopkeeper_product| %>
      <tr>
       <td class="text-success"><%= shopkeeper_product.product.name %></td>
       <td><%= shopkeeper_product.product_quantity %></td>
      </tr>
    <% end %>
  </tbody>
  <td><%= link_to 'Back', controller: 'dashboard' %></td>
</table>
