<div class="container text-center">
  <h1 class="text-primary">Shopkeeper Products</h1>

<table>
  <thead>
    <tr>
      <th>Product Name</th>
       <th>Product Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @shopkeeper_products.each do |shopkeeper_product| %>
      <tr>
        <td><div class="text-success"><%= shopkeeper_product.product.name%></td>
       <td><%= shopkeeper_product.product_quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
