<h1>Shopkeeper Products</h1>

<table>
  <thead>
    <tr>
      <th>Shopkeeper</th>
      <th>Product</th>
    </tr>
  </thead>
  <tbody>
    <% @shopkeeper_products.each do |shopkeeper_product| %>
      <tr>
        <td><%= shopkeeper_product.shopkeeper.name %></td>
        <td><%= shopkeeper_product.product.name %></td>

      </tr>
    <% end %>
  </tbody>
</table>