<h1>Shopkeeper Products</h1>

<table>
  <thead>
    <tr>
      <th>Product Name</th>
       <th>Product Quantity</th>
    </tr>
  </thead>
  <tbody>
    <% @shopkeeper_products.each do |shopkeeper_product| %>
      <tr>
        <td><%= shopkeeper_product.product_id%></td>
       <td><%= shopkeeper_product.product_quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
