<div class="container text-center">
  <h1 class="text-primary">Products</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
     <th>description</th>
  </tr>
 
  <% @products.each do |product| %>
    <tr>
      <td><div class="text-success"><%= product.name %></td>
      <td><%= product.price %></td>
      <td><%= product.description %></td>
      <td><%= button_to 'add_item', add_item_supplier_product_path(product) %></td>
    </tr>
  <% end %>
</table>
