<h1>Listing products</h1>
 
<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
     <th>description</th>
  </tr>
 
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.price %></td>
      <td><%= product.description %></td>
      <td><%= button_to 'add_item', users_index_path %></td>
    
    </tr>
  <% end %>
</table>
